{% load static %}
{% load humanize %}
{% load mptt_tags %}

<article id="tweet_id_{{ node.id }}" class="post-object feed"
    onclick="location.href = `{% url 'users:post-detail' node.author.user.username node.id %}`">
    <div class="post-author-image">
        <img class="author-pic" src="{{ node.author.profile_pic.url }}" alt="User profile picture">
    </div>
    <div class="post-content">
        <div class="author-username">
            <p>
                <a href="{% url 'users:profile' node.author.user.username %}">{{ node.author.user.first_name }} {{node.author.user.last_name }}</a>
                <span>@{{ node.author.user.username }}</span>
                <span>&middot;</span>
                <a href="{% url 'users:post-detail' node.author.user.username node.id  %}" title="{{node.date_posted}}">{{node.date_posted|naturaltime }}</a>
            </p>
            <div class="tweet-options" onclick="event.stopPropagation();">
                <div class="btn-group">
                    <button type="button" data-bs-toggle="dropdown" aria-expanded="false" id="tweetOptionsBtn">
                        <img src="{% static 'blog/img/three_dots.svg' %}" alt="Post options">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="tweetOptionsBtn">
                        {% if request.user.profile == node.author %}
                            <li class="delete-option" onclick="delete_post(`{% url 'api:delete-post' node.id %}`)">
                                <img src="{% static 'blog/img/delete_tweet.svg' %}" alt="Delete tweet">
                                <span>Delete</span>
                            </li>
                            <li class="pin-option" onclick="pin_unpin_post(`{% url 'api:pin-post' node.id %}`)">
                                <img src="{% static 'blog/img/pin_tweet.svg' %}" alt="Pin Tweet">
                                {% if node == node.author.homefeed.pinned_tweet %}
                                    <span>Unpin from profile</span>
                                {% else %}
                                    <span>Pin to your profile</span>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="post-details">
            {% if node.content %}
                <span>{{ node.content }}</span>
            {% endif %}

            {% if node.media %}
                <img src="{{ node.media.url }}" alt="Post image" class="img-fluid post-media-img">
            {% endif %}
        </div>
        <div class="post-actions">
            <div class="action comment">
                <img src="{% static 'blog/img/reply.svg' %}" alt="Reply tweet">
                {% if node.get_children|length > 0 %}
                    <span class="comment-counter">{{ node.get_children|length }}</span>
                {% endif %}
            </div>
            <div class="action retweet" onclick="event.stopPropagation(); retweet(`{% url 'api:retweet-post' node.id %}`);">
                {% if user.is_authenticated and node in user.profile.profilefeed.retweeted.all %}
                    {% if node.retweet_set.count > 0 %}
                        <span class="retweet-counter retweeted">{{ node.retweet_set.count }}</span>
                    {% endif %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 186, 124)" class="bi bi-arrow-repeat retweet-icon"
                        viewBox="0 0 16 16">
                        <path
                            d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                        <path fill-rule="evenodd"
                            d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                    </svg>
                {% else %}
                    {% if node.retweet_set.count > 0 %}
                        <span class="retweet-counter">{{ node.retweet_set.count }}</span>
                    {% endif %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat retweet-icon"
                        viewBox="0 0 16 16">
                        <path
                            d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                        <path fill-rule="evenodd"
                            d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                    </svg>
                {% endif %}
            </div>
            <div class="action like" onclick="event.stopPropagation(); like(`{% url 'api:like-post' node.id %}`);">
                {% if user.is_authenticated and node in user.profile.profilefeed.liked.all %}
                    {% if node.like_set.count > 0 %}
                        <span class="like-counter liked">{{ node.like_set.count }}</span>
                    {% endif %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(249, 24, 128)" class="bi bi-heart like-icon"
                        viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                {% else %}
                    {% if node.like_set.count > 0 %}
                        <span class="like-counter">{{ node.like_set.count }}</span>
                    {% endif %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart like-icon"
                        viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                {% endif %}
            </div>
        </div>
    </div>
</article>
