{% load static %}
{% load humanize %}
{% load mptt_tags %}

<article id="tweet_id_{{ node.id }}" class="post-object feed"
    onclick="location.href = `{% url 'users:post-detail' node.author.username node.id %}`">
    <div class="post-author-image">
        <img class="author-pic" src="{{ node.author.profile.profile_pic.url }}" alt="User profile picture">
    </div>
    <div class="post-content">
        <div class="author-username">
            <p>
                <a href="{% url 'users:profile' node.author.username %}">{{ node.author.first_name }} {{node.author.last_name }}</a>
                <span>@{{ node.author.username }}</span>
                <span>&middot;</span>
                <a href="{% url 'users:post-detail' node.author.username node.id %}" title="{{node.date_posted}}">{{node.date_posted|naturaltime }}</a>
            </p>
            <div class="tweet-options" onclick="event.stopPropagation();">
                <div class="btn-group">
                    <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'blog/img/three_dots.svg' %}" alt="Post options">
                    </button>
                    <ul class="dropdown-menu">
                        {% if request.user.id == node.author.id %}
                            <li class="delete-option" onclick="delete_post(`{% url 'users:delete-post' node.author.username node.id %}`)">
                                <img src="{% static 'blog/img/delete_tweet.svg' %}" alt="Delete tweet">
                                <span>Delete</span>
                            </li>
                            <li class="pin-option" onclick="pin_unpin_post(`{% url 'users:pin-unpin-post' node.author.username node.id %}`)">
                                <img src="{% static 'blog/img/pin_tweet.svg' %}" alt="Pin Tweet">
                                <span>Pin to your profile</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="post-details">
            {% if node.content %}
                <span>{{ node.content }}</span>
            {% endif %}

            {% if node.media %}
                <img src="{{ node.media.url }}" alt="Post image" class="img-fluid post-media-img">
            {% endif %}
        </div>
        <div class="post-actions">
            <div class="action">
                <img src="{% static 'blog/img/reply.svg' %}" alt="Reply tweet">
                {% if node.get_children|length > 0 %}
                    <span class="comment-counter">{{ node.get_children|length }}</span>
                {% endif %}
            </div>
            <div class="action">
                <img src="{% static 'blog/img/retweet.svg' %}" alt="Reply tweet">
            </div>
            <div class="action">
                <img src="{% static 'blog/img/like.svg' %}" alt="Reply tweet">
            </div>
        </div>
    </div>
</article>