{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}
{% load mptt_tags %}

{% block pageindicator %}
    <h1>{{ requested_profile.user.first_name }}</h1>
    <span class="tweet-indicator">{{ nodes|length }} tweets</span>
{% endblock pageindicator %}

{% block content %}
<section class="user-profile">
    <div class="user-header-photo">
        <img src="{{ requested_profile.cover_pic.url }}" alt="User header picture">
    </div>
    <div class="user-profile-photo">
        <img src="{{ requested_profile.profile_pic.url }}" alt="User profile picture">
    </div>
    <div class="profile-info">
        {% if request.user.profile == requested_profile %}
            <a href="{% url 'users:profile-update' requested_profile.user.username %}" class="edit-btn">Edit profile</a>
        {% else %}
            {% if not user.is_authenticated or requested_profile not in request.user.profile.following.all %}
                <button class="follow-btn" onclick="handleFollow(`{% url 'api:follow-user' requested_profile.id %}`)">Follow</button>
            {% else %}
                <button class="unfollow-btn" onclick="handleFollow(`{% url 'api:follow-user' requested_profile.id %}`)"></button>
            {% endif %}
        {% endif %}
        <div class="user-names">
            <h2 class="profile-username">{{requested_profile.user.first_name}} {{requested_profile.user.last_name}}</h2>
            <p class="profile-name profInfo">@{{requested_profile.user.username}}</p>
        </div>
        <div class="user-bio">
            {% if requested_profile.bio %}
                <pre>{{requested_profile.bio}}</pre>
            {% endif %}
        </div>
        <div class="user-location-joinDate">
            <img src="{% static 'users/img/calendar.svg' %}" alt="Calendar icon"> 
            <span class="joinDate profInfo">Joined {{requested_profile.user.date_joined|date:"F Y"}}</span>
        </div>
        <div class="following-followers">
            <p><span class="followingInfo following">{{ requested_profile.following.all|length }}</span> <span class="profInfo">following</span> <span class="followingInfo followers">{{ requested_profile.followers.all|length }}</span> <span class="profInfo">followers</span></p>
        </div>
    </div>
</section>
<section>
    {% if node %}
        <span>Pinned</span>
        {% include "blog/tweet_element.html" %}
    {% endif %}
    {% for node in nodes %}
        {% include "blog/tweet_element.html" %}
    {% endfor %}
</section>

{% block modal %}
{% endblock modal %}

{% endblock content %}
